<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="cn.reactnative.modules.wx">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        >
        <meta-data android:name="WX_APPID" android:value="${WX_APPID}"/>

        <!-- 微信的回调Activity -->
        <activity
            android:name="${applicationId}.wxapi.WXEntryActivity"
            android:exported="true"
            />
    </application>
</manifest>
